form {
  width: 100%;
}

form fieldset {
  border: 1px solid orangered;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
}

form fieldset legend {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-left: 100px;
  padding: 10px 20px;
}
